:root {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li.note {
  list-style: none;
}

h1 {
  color: #333;
  font-size: 2em;
  text-align: center;
}

form {
  input[name="description"] {
    width: 100%;
    max-width: 40em;
    background: rgb(186, 242, 203);
    border-radius: 5px;
  }
}

.messages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;

  .message {
    /* color:  */
    min-width: 10em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #8bffbc;
    border: 2px solid #72b938;

    &:has(input:checked) {
      background-color: #e0ffe0;
      border: 1px solid #0e5825;
      opacity: 0.5;
    }

    .title {
      color: rgb(46, 37, 217);
      font-size: x-large;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1em;
    }

    .line {
      display: flex;
      justify-content: space-between;

      span {
        margin-right: 1em;
      }
    }

    input[type="checkbox"] {
      width: 1.5em;
      height: 1.5em;
    }
  }
}